[submodule "apps/audit/cal-diy"]
	path = apps/audit/cal-diy
	url = https://github.com/calcom/cal.diy.git
[submodule "apps/audit/dub"]
	path = apps/audit/dub
	url = https://github.com/dubinc/dub.git
[submodule "apps/audit/posthog-demo-3000"]
	path = apps/audit/posthog-demo-3000
	url = https://github.com/PostHog/posthog-demo-3000.git
[submodule "apps/audit/DemoHog3001"]
	path = apps/audit/DemoHog3001
	url = https://github.com/PostHog/DemoHog3001.git
[submodule "apps/migrate/statsig/triplex"]
	path = apps/migrate/statsig/triplex
	url = https://github.com/pmndrs/triplex.git
[submodule "apps/migrate/mixpanel/fire-saas"]
	path = apps/migrate/mixpanel/fire-saas
	url = git@github.com:AgentBurgundy/fire-saas.git
