alembic
Babel
email-validator
Flask>=3.0
flask-babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
langdetect
PyJWT
python-dotenv
posthog==7.38.4
redis
requests
rq
SQLAlchemy
Werkzeug
WTForms
