alembic
Babel
email-validator
Flask>=3.0
flask-babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
langdetect
PyJWT
posthog==7.39.1
python-dotenv
redis
requests
rq
SQLAlchemy
Werkzeug
WTForms
