# LaunchDarkly
NEXT_PUBLIC_LAUNCHDARKLY_CLIENT_ID=

# Amplitude
NEXT_PUBLIC_AMPLITUDE_API_KEY=

# Braintrust + OpenAI (for LLM analytics demo)
BRAINTRUST_API_KEY=
BRAINTRUST_PROJECT_NAME=hogkilla
OPENAI_API_KEY=
